body{
    color: white;
}
.detailsClass{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#details-title-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#details-title{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#details-rating{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#genres-themes{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.genres-content{
    display: flex;
    gap: 5px;
}
.themes-content{
    display: flex;
    gap: 5px;
}
#lang-plot{
    display: flex;
    justify-content: center;
    align-items: center;
}
#lang{
    display: flex;
    flex-direction: column;
}
#lang > p{
    width: 250px;
}
#lang > p > strong{
    color: #7e7d7d;
}
#plot{
    border-left: 3px solid rgba(99, 10, 10, 0.868);
    padding-left: 10px;
    height: inherit;
}
.back-home{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 150px;
    background-color: rgba(99, 10, 10, 0.868);
    color: white;
    font-weight: 500;
    border: 1px solid white;
}
.back-home:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.director-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.director-container{
    display: flex;
    flex-direction: column;
    list-style-type: none;
} 
.director-container > label{
    font-size: 30px;
    font-weight: 500;
    border-bottom: 2px solid rgba(99, 10, 10, 0.868);
    margin-top: 30px;
    color: #7e7d7d;
    margin-bottom: 20px;
}
.director-summary{
    display: flex;
    justify-content: start;
    align-content: center;
    gap: 10px;
}
.director-summary p{
    font-size: 18px;
    font-weight: 400;
}
.director-summary button{
    margin-top: 4px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(99, 10, 10, 0.868);
    border: 1px solid rgba(99, 10, 10, 0.868);
    font-weight: 700;
}
.director-details{
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.168);
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
.director-details-part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    border-right: 3px solid rgba(99, 10, 10, 0.868);
}
.review-label{
    font-size: 30px;
    font-weight: 500;
    border-bottom: 2px solid rgba(99, 10, 10, 0.868);
    margin-top: 30px;
    color: #7e7d7d;
    margin-bottom: 20px;
}
.review-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.review-profilePhoto{
    width: 50px;
    height: 50px;
}
.review{
    width: 800px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.review-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.star-date{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
}
.review-author{
    margin-top: 5px;
    font-size: 17px;
    font-weight: 400;
}
.review-date{
    font-size: 14px;
}
.review-content{
    font-size: 15px;
}
.user-review{
    display: flex;
    gap: 10px;
    width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.user-review-content{
    display: flex;
    flex-direction: column;
}
.user-review-usernname{
    font-size: 20px;
    margin-top: 10px;
}
.review-elements{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review-elements > input{
    width: 740px;
    height: 40px;
    background-color: #e2e2e2;
}
.review-elements > div{
    display: flex;
    justify-content: space-between;
}
.review-elements > div > button{
    color: rgba(99, 10, 10, 0.868);
    border: 2px solid rgba(99, 10, 10, 0.868);
    font-weight: 600;
}
.review-elements > div > button:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.name-settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-link{
    border: none;
    padding: 0;
    background-color: white;
}
.save-dontSave{
    display: flex;
    justify-content: space-between;
}
.edit-review-buttons{
    height: 20px;
    width: 20px;
}
.movieDetail-button:hover{
    background: none;
}