body{
    background-color: #000;
}
.spinner{
    width: 10em;
    height: 10em;
    border-top: 1em solid rgba(99, 10, 10);
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 2s linear infinite;
}
.circle{
    width: 1em;
    height: 1em;
    background-color: rgba(99, 10, 10);
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.5em;
}
@keyframes spinner {
    100% {
        transform: rotate(360deg);
        transition: 0.4s all ease;
    }
}